
*{
    margin: 0px;
}


header.head {
    margin: 0px 180px;
    background-color: aquamarine;
    padding: 10px 20px;
}

nav.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: green;
    font-size: 19px;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 50px;
}

li {
    color: black;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}
span{
    color: #000;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
#sign{
    background-color: green;
    padding: 5px 5px;
    border: 1px solid rgb(245, 238, 238);
    border-radius: 4px;
    color: white;
}
.btn{
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    background-color: rgb(41, 131, 101);
}
/* this section close for menu section */



/* this section start for header section */
.main-1{
    margin: 50px 200px;
    display: flex;

}
.first-1 {
    width: 400px;
}
.first-1 h1{
    font-size: 50px;
    font-family: cursive;
    margin-bottom: 10px;
    color: rgb(28, 124, 92);
}
.first-1 p{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.second-1 img{
    width: 400px;
    padding: 0 0 0 100px;
}
.icon{
    display: flex;
    padding: 40px 200px 0;
}
.icon .icon-box img{
    width: 118px;
    padding: 10px 0 10px 10px;
}
.icon-box{
    background-color: gray;
    height: 300px;
    border-radius: 3px;
    margin-right: 10px;
}
.box1{
    border-color: azure;
}

.box2{
    background-color: aquamarine;
}
.box3{
 background-color: aqua;
}

.icon-box h1{
    padding-left: 15px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}
.icon-box p{
    padding-left: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box-2{
    background-color: aquamarine;
}
.box-3{
 background-color: aqua;
}
.box-1{
    border-color: rgb(187, 183, 178);
}

/* this section start for review */



.review{
    display: flex;
    padding: 20px 200px 40px;
}
.review-main img{
    width: 100px;
}
.heding h2{
text-align: center;
margin-top: 100px;
font-size: 35px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heding h2 span{
    color: rgb(33, 235, 167);
    text-decoration: underline;
}
.review-main{
    background-color: bisque;
    margin-left: 10px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 4px;
}






/* this section start for bog post */


.blog-1 img {
    width: 200px;
    height: 150px;
}
section.blog {
    display: flex;
    padding: 30px 200px 30px;
}

.blog-1 {
    margin: 10px;
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
}
.blog-1 h1 {
    font-size: 23px;
    font-family: math;
    font-weight: 700;
}
.blog-1 p {
    margin: 10px 0;
}
.foot{
    text-align: center;
    padding: 30px;
    background-color: aquamarine;
}